.contact_section {
  background: #353c65;
  padding: 71px 0px;
}

.contact_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 30px;
}
.contact_title {
  text-align: center;
  color: #fff;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact_navigation_text {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  color: whitesmoke;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}
.contact_item_icons {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-self: end;
  justify-content: center;
  gap: 25px;
}

.facebook_contact:hover {
  color: #c6cbcd !important;
}

.twitter_contact:hover {
  color: #c6cbcd !important;
}

.linkedin_contact:hover {
  color: #c6cbcd !important;
}
.contact_icon {
  transition: all 0.6s ease;
  font-size: 40px;
}
.contact_icon:hover {
  transform: translateY(-5px);
}
.contact_about_text {
  text-align: center;
  color: whitesmoke;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}

@media (max-width: 1024px) {
  .contact_section {
    background: #353c65;
    padding: 45px 0px;
  }
  .contact_wrap {
    grid-gap: 20px;
  }
  .contact_title {
    font-size: 14px;
  }
  .contact_icon {
    font-size: 30px;
  }
  .contact_navigation_text {
    font-size: 14px;
  }
  .contact_about_text {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .contact_wrap {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-gap: 0px;
  }
  .contact_item_icons {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .contact_section {
    padding: 35px 0px;
  }
  .contact_navigation_title {
    font-size: 14px;
    margin-bottom: 35px;
  }
  .contact_navigation_text {
    margin-bottom: 70px;
  }
  .contact_icon_title {
    margin-bottom: 40px;
    font-size: 14px;
  }
  .contact_icon {
    margin-bottom: 60px;
  }
  .contact_about_title {
    margin-bottom: 40px;
    font-size: 14px;
  }
}
