.download_wrap {
  text-align: center;
}

.download_title {
  color: #000;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 25px;
}

.download_text {
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #000;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
}

.download_button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.download_button a {
  padding: 25px 0px;
  width: 370px;
  color: whitesmoke;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #ff4343;
}
.download_button a:hover {
  background: #e71414;
}
.download_button a:active {
  background: #ff4343;
  box-shadow: 4px 4px 30px 0px #ff4343;
}

@media (max-width: 1024px) {
  .section_download {
    padding: 78px 0px;
  }
  .download_title {
    font-size: 24px;
    margin-bottom: 22px;
  }
  .download_text {
    font-size: 14px;
    margin-bottom: 44px;
  }
  .download_button a {
    font-size: 18px;
    width: 314px;
  }
}

@media (max-width: 320px) {
  .section_download {
    padding: 65px 0px 45px;
  }
  .download_title {
    font-size: 18px;
    margin-bottom: 34px;
  }
  .download_text {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .download_button a {
    padding: 25px 0px;
    font-size: 18px;
    width: 270px;
  }
}
