.team_wrap {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team_cards_image {
  margin-bottom: 30px;
}

.team_cards_image img {
  width: 270px;
  height: 270px;
  object-fit: cover;
}
.team_cards_name {
  color: #2d3033;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.team_cards_speciality {
  color: #ff4343;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.team_cards_text {
  max-width: 270px;
  color: #6c7279;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}
.team_card_icons {
  display: flex;
  gap: 5px;
}

.team_icon {
  transition: all 0.6s ease;
  font-size: 40px;
}
.team_icon:hover {
  transform: translateY(-5px);
}

.fa-square-facebook {
  transition: 0.6s;
}
.fa-square-facebook:hover {
  color: #3b5998 !important;
}
.fa-square-twitter {
  transition: 0.6s;
}
.fa-square-twitter:hover {
  color: #00acee !important;
}
.fa-linkedin {
  transition: 0.6s;
}
.fa-linkedin:hover {
  color: #0e76a8 !important;
}

@media (max-width: 1024px) {
  .out-team {
    padding: 78px 0px;
  }
  .team_wrap {
    gap: 10px;
    justify-content: center;
  }
  .team_cards_image {
    margin-bottom: 25px;
  }
  .team_cards_image img {
    width: 227px;
    height: 227px;
  }
  .team_cards_name {
    font-size: 18px;
  }
  .team_cards_speciality {
    font-size: 14px;
  }
  .team_cards_text {
    font-size: 14px;
    width: 227px;
  }
  .team_icon {
    font-size: 30px;
  }
}

@media (max-width: 320px) {
  .out-team {
    padding: 35px 0px;
  }
  .team_wrap {
    gap: 50px;
  }
  .team_cards_image img {
    width: 280px;
    height: 227px;
  }
  .team_cards_speciality {
    margin-bottom: 40px;
  }
  .team_cards_text {
    font-size: 14px;
    width: 280px;
    margin-bottom: 55px;
  }
  .team_icon {
    font-size: 40px;
  }
}
